<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
  	<parameter name = "DeviceName" value="Pixel 2"/> 
    <classes>
      <class name="com.justdial.test.ImpCheckListTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Test  iPhone X" >
   <parameter name = "DeviceName" value="iPhone X"/> 
    <classes>
      <class name="com.justdial.test.ImpCheckListTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test Galaxy S5" >
   <parameter name = "DeviceName" value="Galaxy S5"/> 
    <classes>
      <class name="com.justdial.test.ImpCheckListTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test iPhone 6/7/8" >
   <parameter name = "DeviceName" value="iPhone 6/7/8"/> 
    <classes>
      <class name="com.justdial.test.ImpCheckListTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
